@use "../assets/Colors.scss" as colors;
@use "../assets/TextStyles.scss" as text;

.footer {
  background-color: colors.$tertiary;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid colors.$on-primary;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
  }
}

.footer__left {
  flex: 1;
  display: flex;
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.footer__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.footer__text {
  @include text.paragraph;
  color: colors.$on-primary;
}

.footer__logo {
  width: 8rem;
}

.footer__right a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__right img {
  height: 2rem;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.footer__bottom {
  width: 100%; /* Asegura que ocupe todo el ancho */
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 24px; /* Ajuste del gap */
  flex-wrap: wrap; /* Permite que los enlaces se acomoden mejor */

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.footer__link {
  @include text.paragraph;
  color: colors.$on-primary;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  background-color: transparent; /* Fondo transparente inicialmente */
  text-align: center; /* Centramos el texto */
  flex-grow: 1; /* Permite que los enlaces ocupen el mismo ancho */
  max-width: 160px; /* Ancho máximo para mantener proporciones */

  &:hover {
    background-color: colors.$on-primary;
    color: colors.$primary;
  }
}
