@use "../assets/Colors.scss" as colors;
@use "../assets/TextStyles.scss" as text;

.header {
  background-color: colors.$background;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  width: 10rem;
}

.header__menu-icon {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-line {
  width: 100%;
  height: 3px;
  background-color: colors.$on-background;
  transition: transform 0.3s;
}

.header__dropdown {
  position: absolute;
  top: 70px;
  right: 24px;
  background-color: colors.$background;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__link {
  @include text.paragraph;
  color: colors.$on-background;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: colors.$primary-container;
    color: colors.$on-primary-container;
  }
}
