$primary: #e36fa8;
$surface-tint: #e36fa8;
$on-primary: #ffffff;
$primary-container: #fff39d;
$on-primary-container: #002115;
$secondary: #b1dff7;
$on-secondary: #ffffff;
$secondary-container: #cfe9d9;
$on-secondary-container: #092016;
$tertiary: #d593f6;
$on-tertiary: #ffffff;
$tertiary-container: #c1e8fb;
$on-tertiary-container: #001f29;
$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;
$background: #ffffff;
$on-background: #171d1a;
$surface: #ffffff;
$on-surface: #171d1a;
$surface-variant: #dbe5dd;
$on-surface-variant: #404943;
$outline: #707973;
$outline-variant: #bfc9c2;
$shadow: #000000;
$scrim: #000000;
$inverse-surface: #2c322e;
$inverse-on-surface: #edf2ec;
$inverse-primary: #8dd5b3;
$primary-fixed: #fff39d;
$on-primary-fixed: #002115;
$primary-fixed-dim: #8dd5b3;
$on-primary-fixed-variant: #005139;
$secondary-fixed: #cfe9d9;
$on-secondary-fixed: #092016;
$secondary-fixed-dim: #b3ccbe;
$on-secondary-fixed-variant: #354b40;
$tertiary-fixed: #c1e8fb;
$on-tertiary-fixed: #001f29;
$tertiary-fixed-dim: #a5ccdf;
$on-tertiary-fixed-variant: #244c5b;
$surface-dim: #d6dbd6;
$surface-bright: #f5fbf5;
$surface-container-lowest: #ffffff;
$surface-container-low: #eff5ef;
$surface-container: #eaefea;
$surface-container-high: #e4eae4;
$surface-container-highest: #dee4de;
